Source: ros-melodic-openvino
Section: misc
Priority: optional
Maintainer: CongGuan <teiboku@outlook.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-ecl-threads, ros-melodic-nodelet, ros-melodic-pluginlib, ros-melodic-roscpp, ros-melodic-sensor-msgs, ros-melodic-std-msgs
Homepage: http://ros.org/wiki/cht10_node
Standards-Version: 3.9.2

Package: ros-melodic-openvino
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-ecl-threads, ros-melodic-nodelet, ros-melodic-pluginlib, ros-melodic-roscpp, ros-melodic-sensor-msgs, ros-melodic-std-msgs
Description: The dumpbot_serial_func package for getting data of dumpbot from MCU
